div {
    text-align: center;
}

.T1 {
    text-align: center;
}

.gallery {
    display: grid;
    grid-gap: 10px;
    padding: 5%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.gallery img {
    width: 100%;
}