div {
    text-align: center;
}

.T1 {
    text-align: center;
}

.gallery {
    display: grid;
    grid-gap: 10px;
    padding: 5%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.gallery img {
    width: 100%;
}

p{
    background-color: black;
    color: white;
}


.im1:hover{
    opacity: 70%;
}
.im2:hover{
    opacity: 70%;
}
.im3:hover{
    opacity: 70%;
}
.im4:hover{
    opacity: 70%;
}
.im5:hover{
    opacity: 70%;
}
.im6:hover{
    opacity: 70%;
}

